<div ng-controller="ShellCtrl" class="main-shell">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-tall md-accent">
      <% if(filters.auth) {%>
      <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
        <div flex></div>
        <div layout-padding layout="column">
          <div class="profile-name">{{ getCurrentUser().name }}</div>
          <div class="profile-email">{{ getCurrentUser().email }}</div>
        </div>
      </div>
      <% } %>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <% if(filters.auth) {%>
        <md-list-item ui-sref="admin" ng-if="isAdmin()">
          <md-icon md-svg-icon="action:settings" class="md-avatar-icon"></md-icon>
          <div class="md-list-item-text" flex>
            Administration  
          </div>
        </md-list-item>
        <md-list-item ui-sref="admin.user" ng-if="isAdmin()">
          <md-icon md-svg-icon="action:face" class="md-avatar-icon"></md-icon>
          <div class="md-list-item-text" flex>
            Utilisateurs
          </div>
        </md-list-item>
        <% } %>
      </md-list>
    </md-content>
    </md-content>
  </md-sidenav>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" <% if(filters.auth) {%> ng-if="isLoggedIn()" <% } %>>
        <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
      </md-button>
      <h2>
          <span><%= _.slugify(_.humanize(appname)) %></span>
        </h2>
      <span flex=""></span>
      <md-menu>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
          <md-icon md-menu-origin md-svg-icon="assets/icons/dots-vertical.svg"></md-icon>
        </md-button>
        <md-menu-content width="4">                
          <% if(filters.auth) {%>
          <md-menu-item ng-show="isLoggedIn()">
            <md-button ui-sref="settings">
              <md-icon md-svg-icon="action:account_circle"></md-icon>
              Mon profil
            </md-button>
          </md-menu-item> 
          <md-menu-divider <% if(filters.auth) {%> ng-if="isLoggedIn()" <% } %>></md-menu-divider>
          <md-menu-item ng-hide="isLoggedIn()" <% if (filters.uirouter) { %>ui-sref="login"<% } else { %>href="/login"<% } %>>
            <md-button>
              <md-icon md-svg-icon="action:input"></md-icon>
              Login
            </md-button>
          </md-menu-item>
          <md-menu-item ng-hide="isLoggedIn()" <% if (filters.uirouter) { %>ui-sref="signup"<% } else { %>href="/signup"<% } %>>
            <md-button>
              <md-icon md-svg-icon="action:launch"></md-icon>
              Signup
            </md-button>
          </md-menu-item>
          <md-menu-item ng-show="isLoggedIn()">
            <md-button ng-click="logout()">
              <md-icon md-svg-icon="action:exit_to_app"></md-icon>
              Logout
            </md-button>
          </md-menu-item>
          <% } %>
        </md-menu-content>
      </md-menu>
    </div>
  </md-toolbar>
</div>
